.* {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
}

.standard {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.standardTable {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    padding: 2;
    border-style: solid;
    border-width: 1px;
}

.standardTable_Header {
	color: #000000;
    background-color: #FFDD00;
    padding: 3;
    text-align: center;
    border: none;
}

.standardTable_SortHeader {
    background-color: #FFDD00;
    color: #000000;
    padding: 3;
    text-align: center;
    border: none;
    font-weight: bold;
}

.standardTable_Footer {
    background-color: #FFFFE0;
}

.standardTable_Row1 {
    background-color: #FFFFE0;
}

.standardTable_Row2 {
    background-color: #FFFFE0;
}

.standardTable_Column {
}

.standardTable_ColumnCentered {
    text-align: center
}

a
{
	color: #333366;
    text-decoration: underline;
}

a:hover
{
	color: #333366;
    text-decoration: underline;
}

.error {
	color: #FF0000;
}

.sortLink {
	color: #333366;
    text-decoration: none;
}


.pageLayout {
    width:760px;
    height:100%;
}

.pageHeader {
    text-align: center;
    vertical-align: middle;
    height:1px;
    overflow:visible;
    background-color: #6392C6;
    color: #FFFFFF;
}

.pageNavigation {
    text-align: left;
    vertical-align: top;
    width: 240px;
    background-color: #E7EFF7;
    border: 1px solid #6392C6;
    padding: 10px;
}

.pageBody {
    text-align: left;
    vertical-align: top;
    width: 560px;
    padding: 20px;
    background-color: #FFFFFF;
}

.pageFooter {
    text-align: right;
    font-size: xx-small;
    height:1px;
    overflow:visible;
    background-color: #6392C6;
    color: #FFFFFF;
}



.navigation {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.navitem {
	white-space : nowrap;
}

.navitem_open {
	white-space : nowrap;
	font-weight : bold;
}

.navitem_active {
    color: #FFFFFF;
    background-color: #6392C6;
	white-space : nowrap;
	font-weight : bold;
}

a.navigation_link {
    text-decoration : none;
}

a.navigation_link:hover,active {
    color: #FFFFFF;
    background-color: #6392C6;
	white-space : nowrap;
	text-decoration: none;
}

.navlevel1 {
    padding-left : 0px;
}

.navlevel2 {
    padding-left : 12px;
}

.navlevel3 {
    padding-left : 24px;
}

.navseparator {
    line-height: 12px;
    border-bottom: 1px solid #A2B7C5;
}



.fileUploadInput {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    width: 250px;
}