# Don't forget to use double-backslashes in windows paths!

# File path to Java Servlet API archive version 2.3
servlet.jar = ${project.dir}/lib/servlet.jar

# File path to com.oreilly.servlet package
cos.jar = ${project.dir}/lib/cos.jar

# File path to JavaServer Faces API archive version 1.0 EA3
# (not included, please download from http://java.sun.com/j2ee/javaserverfaces/download.html)
jsf-api.jar = ${project.dir}/lib/jsf-api.jar

# File path of MyFaces archive to be created
myfaces.jar = ${project.dir}/lib/myfaces.jar

# Temporary directory
# (if not set, environment variable "TEMP" will be used)
#temp.dir = temp

# Compiler optimize
javac.optimize = on

# uncomment to use aspectj for performance measuring
# (you must also adapt the paths in src/aspectj/build.properties!)
use-aspectj = true
