<?xml version="1.0"?>

<!--
* MyFaces - the free JSF implementation
* Copyright (C) 2003  The MyFaces Team (http://myfaces.sourceforge.net)
*
* This library is free software; you can redistribute it and/or
* modify it under the terms of the GNU Lesser General Public
* License as published by the Free Software Foundation; either
* version 2.1 of the License, or (at your option) any later version.
*
* This library is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
* Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with this library; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
-->

<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>


    <context-param>
        <!--
        * Init parameter "logLevel"
        * The log level of the MyFacesLogger.
        * Allowed values are:
        * "FINEST", "FINER", "FINE", "INFO", "WARNING", "SEVERE"
        -->
        <param-name>logLevel</param-name>
        <param-value>FINEST</param-value>
    </context-param>

    <context-param>
        <!--
        * Init parameter "jspInfoCaching"
        * MyFaces needs to parse JSP files when saving state information.
        * Setting this parameter to true, means that JSP files are cached
        * in the servlet context (= application in JSP terminology).
        * During development this should always be set to false, because
        * otherwise changes in JSPs will not be recognized by MyFaces.
        -->
        <param-name>jspInfoCaching</param-name>
        <param-value>false</param-value>
    </context-param>

    <context-param>
        <!--
        * Init parameter "servletMappingMode"
        * Allowed values:
        * "virtual_path" = classic servlet-mapping as described in the specification.
        * "extension" = alternative ServletMapping for the url-pattern "*.jsf".
        -->
        <param-name>servletMappingMode</param-name>
        <param-value>extension</param-value>
        <!--<param-value>virtual_path</param-value>-->
    </context-param>

    <context-param>
        <!--
        * Init parameter "stateSavingMode"
        * Allowed values:
        * "server_session" = tree state is saved in a HTTPSession
        * "client_serialized" = tree is serialized, zipped and saved as url parameter or hidden input
        * "client_minimized" = only those (dynamical) tree and component infos are saved that could not otherwise be restored by parsing the JSP
        * "client_minimized_zipped" = like "client_minimal", but additionally state info is zipped (GZIP), encoded to allowed characters (Base64) written as one query parameter or hidden form input.
        -->
        <param-name>stateSavingMode</param-name>
        <param-value>client_minimized</param-value>
    </context-param>

    <context-param>
        <!-- TODO: Documentation -->
        <param-name>autoCreateRequestScopeBeans</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <!-- TODO: Documentation -->
        <param-name>discardInternalAttributes</param-name>
        <param-value>true</param-value>
    </context-param>



    <!-- MyFaces Filter -->
    <!--
    <filter>
        <filter-name>MyFaces Filter</filter-name>
        <filter-class>net.sourceforge.myfaces.webapp.filter.MyFacesFilter</filter-class>
    </filter>
    -->

    <!-- MyFaces Filter Mapping -->
    <!--
    <filter-mapping>
        <filter-name>MyFaces Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->


    <listener>
        <listener-class>net.sourceforge.myfaces.webapp.DefaultServletContextListener</listener-class>
    </listener>

    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>net.sourceforge.myfaces.webapp.MyFacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Faces Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <!--url-pattern>/faces/*</url-pattern-->
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
