.smiledesignbuttonclass {
  position:absolute; visibility:hidden; overflow:hidden;
  color:#000; background:#ccc; border:1px solid #000;
  font-size:10px; margin:0; padding:1px;
  width:10; height:10;
}

.smiledesignmenuclass {
  position:absolute; visibility:hidden; overflow:hidden;
  color:#000; background:#ddb; border:1px solid #000;
  font-size:10px; margin:0; padding:1px;
  z-index: 32000;
}

table.smiletoolbar {
    border-bottom: 1px solid #aaa;
    background-color: #ccc;
}

#navcolumn div div.heading {
    background-image: none;
}

div#banner {
    border-top: 1px solid #369;
    border-bottom: 1px solid #003;
}

#navcolumn {
    background: #eee;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

#infobar {
    border-bottom: 1px solid #aaa;
    background-color: #ccc;
}

#titlebar {
		border-top: 1px solid #fff;
    border-bottom: 1px solid #aaa;
    background-color: #71196E;
}

#navcolumn, #infobar {
    border-top: 1px solid #fff;
}

#rightcol div.www, #rightcol div.help {
    border: 1px solid #ddd;
}

div#navcolumn div.focus {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    background-color: #fff;
}

#banner, #banner td {
    background: #71196E;
    color: #fff;
}

/* font and text properties, exclusive of link indication, alignment, text-indent */

body, th, td, input, select, textarea, h2 small {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

code, pre {
    font-family: 'Andale Mono', Courier, monospace;
}

html body, body th, body td, textarea {
    font-size: small;
}

#infobar td {
		font-size: x-small;
    font-weight: bold;
}

#titlebar a {
    font-weight: bold;
		color: #fff;
}

/* box properties (exclusive of borders), positioning, alignments, list types, text-indent */

#infobar td {
    vertical-align: middle;
    padding: 2px 8px;
}

#titlebar {
    vertical-align: middle;
    padding: 2px 8px;
}

#navcolumn {
    margin: -8px -8px 0 -8px;
    padding: 4px;
}

#navcolumn div {
    padding-left: 5px
}

div#navcolumn div div {
    margin-top: .3em;
    margin-bottom: .3em;
}

div#navcolumn div.focus {
    margin-top: -.1em;
    padding: .2em 4px;
}


th, td {
    vertical-align: top
}

.right {
    text-align: right !important;
}

.center {
    text-align: center !important;
}

.tabs td, .tabs th {
    padding-left: 7px;
    padding-right: 7px;
}

body td {
    text-indent: 0;
}

body td {
    text-indent: 0;
}

#navcolumn div {
    margin-bottom: .4em;
}

#navcolumn div div {
    margin-top: .2em
}

#navcolumn div div {
    padding-left: 1em;
}

/* links */
a:link {
    color: #003399;
    text-decoration: none
}

a:active
{
    color: #003399;
    text-decoration: underline
}

a:visited
{
    color: #003399;
    text-decoration: none
}

a:hover
{
    color: #003399;
    text-decoration: underline
}