.* {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
}

.standard {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.standardTable {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
    padding: 2;
}

.standardTable_Header {
	color: #FFFFFF;
    background-color: #333366;
    text-align: center;
    border: none;
}

.standardTable_SortHeader {
	color: #000000;
    background-color: #CCCCCC;
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

.standardTable_Footer {
	color: #FFFFFF;
    background-color: #666699;
}

.standardTable_Row1 {
    background-color: #CCCCFF;
}

.standardTable_Row2 {
    background-color: #9999CC;
}

.standardTable_Column {
}

.standardTable_ColumnCentered {
    text-align: center
}

a
{
	color: #333366;
    text-decoration: underline;
}

a:hover
{
	color: #333366;
    text-decoration: underline;
}

.error {
	color: #FF0000;
}

.sortLink {
	color: #333366;
    text-decoration: none;
}


.pageLayout {
    width:760px;
    height:100%;
}

.pageHeader {
    text-align: left;
    height:1px;
    overflow:visible;
    background-color: #CCCCFF;
}

.navigation {
    text-align: left;
    vertical-align: top;
    width: 200px;
    background-color: #9999CC;
    padding: 10px;
}

.pageBody {
    text-align: left;
    vertical-align: top;
    width: 560px;
    padding: 20px;
    background-color: #FFFFFF;
}

.pageFooter {
    text-align: right;
    font-size: xx-small;
    height:1px;
    overflow:visible;
    background-color: #333366;
    color: #FFFFFF;
}
